<div class="productBox">
	<div class="paddingTop">
		<img src="<%= item.img %>">
	</div>
	<div class="products">
		<div class="productName"><%= item.productName %></div>
	</div>
	<div class="prices">
		<div><%= item.prices.price1 %> <s><%= item.prices.price2 %></s></div>
	</div>
	<div class="desciption">
		<div class=""><%= item.desciption %></div>
	</div>
	<button type="button" class="btn btn-primary btn-lg btn-block buyNow"><i class="fas fa-shopping-cart icon"></i>CHỌN MUA</button>
</div>