<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Du an TSC</title>
	<!-- update the version number as needed -->
    <script defer src="/__/firebase/5.7.1/firebase-app.js"></script>
    <!-- include only the Firebase features as you need
    <script defer src="/__/firebase/5.7.1/firebase-auth.js"></script>
    <script defer src="/__/firebase/5.7.1/firebase-database.js"></script>
    <script defer src="/__/firebase/5.7.1/firebase-messaging.js"></script>
    <script defer src="/__/firebase/5.7.1/firebase-storage.js"></script>
    initialize the SDK after all desired features are loaded -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<script
	  src="https://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/5.7.1/firebase.js"></script>
    <link rel="stylesheet" type="text/css" href="./assets/stylesheets/main.css">
    <script type="text/javascript" src="./assets/javascripts/lk.js"></script>
    <script type="text/javascript" src="./assets/javascripts/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

</head>
<body>
	<div class="webWrap">
		<div class="container">
			<!-- header -->
			<%- include('assets/pages/header') %>
			<!-- headbar -->
			<%- include('assets/pages/headbar') %>
			<!-- banner -->
			<%- include('assets/pages/banner') %>
			<!-- body linh kien may tinh-->
			<div class="mayTinh">
				<div class="row">
					<div class="col-sm-4">

					</div>
					<div class="col-sm-4">
						<div class="lkMaytinh">linh kiện máy tính</div>
					</div>
					<div class="col-sm-4">

					</div>
				</div>
				<div class="row">
					<% may_tinh.forEach(function(abc){ %>
						<div class="col-sm-3">
							<%- include('assets/pages/device', {item: abc}); %>
						</div>
					<% }); %>
				</div>
				<div class="row">
					<div class="col-sm-5">

					</div>
					<div class="col-sm-2">
						<button type="button" class="btn btn-primary btn-lg btn-block viewAll">XEM TẤT CẢ</button>
					</div>
					<div class="col-sm-5">

					</div>
				</div>
			</div>
			<!-- linh kien may in -->
			<div class="mayIn">
				<div class="row">
					<div class="col-sm-4">

					</div>
					<div class="col-sm-4">
						<div class="lkMaytinh">linh kiện máy in</div>
					</div>
					<div class="col-sm-4">

					</div>
				</div>
				<div class="row">
					<% may_in.forEach(function(abc){ %>
						<div class="col-sm-3">
							<%- include('assets/pages/device', {item: abc}); %>
						</div>
					<% }); %>
				</div>
				<div class="row">
					<div class="col-sm-5">

					</div>
					<div class="col-sm-2">
						<button type="button" class="btn btn-primary btn-lg btn-block viewAll">XEM TẤT CẢ</button>
					</div>
					<div class="col-sm-5">

					</div>
				</div>
			</div>
			<div class="note row">
				<div class="col-sm-1"></div>
				<div class="col-sm-10">
					<div><b>Đối với khách hàng ký hợp đồng dài hạn sẽ có những chính sách ưu đãi kèm theo</b></div>
					<div><strong>Những vấn đề khác về máy tính, máy in, hệ thống mạng vui lòng gọi <b style="font-size: 18px; color: blue;">0969.942.689</b> để được báo giá  chi tiết</strong></div>
				</div>
				<div class="col-sm-1"></div>
			</div>
			<!-- footer	 -->
			<div class="footer row">
				<div class="col-sm-4 postsList">
					<div class="posts">Bài viết gần đây</div>
					<div class="posts">Bài viết 1</div>
					<div class="posts">Bài viết 2</div>
					<div class="posts">Bài viết 3</div>
					<div class="posts">Bài viết 4</div>
				</div>
				<div class="col-sm-4">
					<div class="reasons1">Tại sao nên chọn TSC</div>
					<div class="reasonsList">
						<div class="reasons">Mang đến giải pháp tối ưu cho mọi vấn đề về máy tính, thiết bị văn phòng.</div>
						<div class="reasons">Dịch vụ nhanh chóng, chuyên nghiệp, hiệu quả cao</div>
						<div class="reasons">Chi phí cạnh tranh, tiết kiệm thời gian cho bạn và doanh nghiệp</div>
						<div class="reasons">Tư vấn 24/7 qua điện thoại, Skype, Zalo, Facebook</div>
					</div>
				</div>
				<div class="col-sm-4 aboutUs">
					<div class="abouts">Dịch vụ vi tính TSC</div>
					<div class="about">TSC  cung cấp giải pháp tối ưu về các vấn đề liên quan đến máy tính, máy in, thiết bị văn phòng. Đến với TSC bạn hoàn toàn yên tâm về chất lượng dịch vụ.</div>
					<div class="mail"><i class="fas fa-envelope icon"></i>quocvuonglamhcm@gmail.com</div>
					<div class="phone"><i class="fas fa-phone-volume icon"></i>096 994 2689</div>
					<div class="address mb-5"><i class="fas fa-map-marker-alt icon"></i>Địa chỉ:  177 Lũy Bán Bích, Tân Thành, Tân Phú, HCM</div>
				</div>
			</div>
			<div class="bottombar row">
				<div class="col-sm-3"><i class="far fa-copyright icon"></i>2019 TSC Corporation</div>
				<div class="col-sm-4"></div>
				<div class="col-sm-5">
					<div class="miniNav col-w20">Trang chủ</div>
					<div class="miniNav col-w20">Giới thiệu</div>
					<div class="miniNav col-w20">Dịch vụ</div>
					<div class="miniNav col-w20">Linh kiện</div>
					<div class="miniNav col-w20">Liên hệ</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
